body, header, nav, nav ul {
  margin: 0;
  padding: 0;
}
body{
  background-color:  white;
  color: black;
  height: 100%;      
  margin: 0;         
  padding: 0;          
}
header{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/GettyImages-1969568700-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 0;
    padding: 0;
}
h1{
  text-align: center;
  text-shadow: 0 0 30px black;
}
.frases{
  align-items: center;
}
/* Navegador */
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: right;
}
/* Navegador */
nav ul li{
  padding: 15px;
  border-top: 4px solid transparent;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
/* Navegador:hover */
nav ul li:hover{
  border-top: 4px solid  #cc6474 ;
}
nav ul li:hover a{
  color: #cc6474  ;
}
nav:hover{
    background-color: rgb(133, 35, 77, 1.2)    ;
    box-shadow: 0 4px 8px #cc6474  ;
    transition: ease-in-out 1s;
}
main{
  box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.5);
}
/* Nombre de la empresa */
h1{
    font-size: 3.5em;
    padding-left: 20px;
    padding-top: 20px;
}
/* Frases */
.frases {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
  color: white;
  padding-left: 20px;
}
.frase1, .frase2{
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  opacity: 0;
}
.frase1 {
  animation: escribir 8s steps(18) infinite, cursor 0.5s step-end infinite alternate;
}
.frase2 {
  animation: escribir 8s steps(20) 4s infinite, cursor 2.5s step-end infinite alternate;
}

/* Animación de escribir */
@keyframes escribir {
  0%, 10% { width: 0; opacity: 1;}        
  10%, 50% { width: 18ch; opacity: 1;}   
  40%, 50% { width: 0; opacity: 1;}    
  50%, 100% { width: 0; opacity: 0;} 
}

/* Animación del cursor */
@keyframes cursor {
  50% { border-color: transparent; }
}

/* Sobre nosotros */
#nosotros{
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40%;
}
#logo{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 10px #cc6474;
  padding: 10px;
  align-content: center;
}
#info1, #info2{
  background-color: white;
  color: black;
  box-shadow: 
  rgba(182, 172, 161, 0.25) 0px 54px 55px,
  rgba(182, 172, 161, 0.12) 0px -12px 30px,
  rgba(182, 172, 161, 0.12) 0px 4px 6px,
  rgba(182, 172, 161, 0.17) 0px 12px 13px,
  rgba(182, 172, 161, 0.09) 0px -3px 5px;
}
#info1{
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#info2{

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Productos */
