main {
  background-color: #05316c;
  color: white;
}
h2{
  text-align: center;
}
#nosotros {
  display: grid;
  padding: 2rem;
}

#logo {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.25rem solid #cc6474;
}

#logo:hover {
  scale: 1.1;
}

#perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#texto {
  max-width: 45rem;
  margin: 1rem auto;
  line-height: 1.8;
  color: #ddd;
  text-align: center;
  font-size: 1.125rem;
}

#mas {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  justify-content: center;
  gap: 4rem;
}

#mas div {
  background-color: white;
  border-left: 0.75rem solid #cc6474;
  border-radius: 10%;
  color: #05316c;
  width: 12rem;
  padding: 0.75rem;
  margin: 1rem;
  font-size: 1rem;
}

main a {
  color: #cc6474;
  font-size: 1.125rem;
}

a:hover {
  color: #e9afae;
}

@media (max-width: 40rem) { 
  #mas {
    grid-template-columns: repeat(1, 14rem);
    gap: 1rem;
  }
  #logo {
    width: 14rem;
    height: 14rem;
    border-radius: 12%;
    border: 0.25rem solid #05316c;
  }
  h2 {
    color: #05316c;
    font-size: 2rem;
  }
  #texto {
    color: #05316c;
    font-size: 1rem;
  }
  main {
    background-color: #cc6474;
  }
  #mas div {
    border-left: 0.75rem solid #05316c;
  }
  #perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 40rem) and (max-width: 67rem) {
  #perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

@media (min-width: 67rem) {
  #perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media print {
  #nosotros, #texto, #mas {
    display: block;
    color: black;
    padding: 0;
    margin: 0;
  }
  #logo {
    display: block !important;
    margin: 0;
    border: none !important;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  #mas div {
    background: none;
    color: black;
    margin: 0.75rem 0;
    font-size: 1rem;
  }
  main a {
    color: black;
    text-decoration: underline;
    font-size: 1rem;
  }
  h2 {
    color: black;
    text-align: center;
    font-size: 1.75rem;
  }
  #texto {
    font-size: 1rem;
  }
}
