/* MAIN */
main {
  background-color: #05316c;
  color: white;
}

/* TITULOS */
h2 {
  text-align: center;
}

/* ARTÍCULO NOSOTROS */
#nosotros {
  display: grid;
  padding: 2rem;
}

/* LOGO */
#logo {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.25rem solid #cc6474;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

/* PERFIL */
#perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* TEXTO DEL PERFIL */
#texto {
  max-width: 45rem;
  margin: 1rem auto;
  line-height: 1.8;
  font-size: 1.125rem;
  color: #ddd;
  text-align: center;
}

/* SECCIÓN MÁS INFORMACIÓN */
#mas {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  justify-content: center;
  gap: 4rem;
}

/* CADA TARJETA EN #MAS */
#mas div {
  background-color: white;
  border-left: 0.75rem solid #cc6474;
  border-radius: 10%;
  color: #05316c;
  width: 12rem;
  padding: 0.75rem;
  margin: 1rem;
  font-size: 1rem;
}

/* ENLACES */
main a {
  color: #960258;
  font-size: 1.125rem;
  text-decoration: none;
}

main a:hover {
  color: #e9afae;
}

/* RESPONSIVE PARA MÓVIL */
@media (max-width: 40rem) { 
  #mas {
    grid-template-columns: repeat(1, 14rem);
    gap: 1rem;
  }

  #logo {
    width: 14rem;
    height: 14rem;
    border-radius: 12%;
    border-color: #05316c !important;
  }

  main {
    background-color: #cc6474 !important;
  }

  #mas div {
    border-left-color: #05316c !important;
  }

  #texto {
    color: #05316c !important;
    font-size: 1rem;
  }

  h2 {
    color: #05316c !important;
    font-size: 2rem;
  }

  #perfil {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* RESPONSIVE PARA TABLET */
@media (min-width: 40rem) and (max-width: 67rem) {
  #perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/* RESPONSIVE PARA DESKTOP */
@media (min-width: 67rem) {
  #perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* IMPRESIÓN */
@media print {
  #nosotros, #texto, #mas {
    display: block;
    color: black;
    padding: 0;
    margin: 0;
  }

  #logo {
    display: block !important;
    margin: 0;
    border: none !important;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  #mas div {
    background: none;
    color: black;
    margin: 0.75rem 0;
    font-size: 1rem;
  }

  main a {
    color: black;
    text-decoration: underline;
    font-size: 1rem;
  }

  h2 {
    color: black;
    text-align: center;
    font-size: 1.75rem;
  }

  #texto {
    font-size: 1rem;
  }
}
